*.o
*.hex
*.d
*.crf
*.axf
*.map
*.htm
*.lnp
*.sct
*.dep
*.lst
*.scvd
*.iex

*.o
*.d
*.crf
*.TMP
*.bak
*.cppcheck
*.axf
*.hex
*.bin
*.lnp
*.sct
/Output/
/Listings/
/.vscode/
/DebugConfig/

**/RTE/
**/DebugConfig/

*.uvmpw
*.chenxx
*.seer
*.dep
*.txt
*.uvoptx
*.scvd
*.htm
*.ini
*.uvguix.*


/User/list.h
/RTT/
*.jscope
*.pyc
*.dbgconf



*.spec

/Libraries/CMSIS/DSP
/FusionOdoImu/
/math/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

protobuffer/pyscript/rbkerror.py
src/protobuffer/pyscript/rbkerror.py
/*.seer
/html/

*.pyc
*.map
*.dblite
*.elf
*.bin
*.hex
*.axf
*.exe
*.pdb
*.idb
*.ilk
*.old
build
Debug
OBJ
documentation/html
packages/
*~
*.o
*.obj
*.out
*.bak
*.dep
*.lib
*.i
*.d
.DS_Stor*
.config 3
.config 4
.config 5
Midea-X1
*.uimg
GPATH
GRTAGS
GTAGS
.vscode
JLinkLog.txt
JLinkSettings.ini
DebugConfig/
RTE/
settings/
*.uvguix*
cconfig.h
*.orig


